/* *{
    outline: 1px solid red;
} */

.header{
    background-color: #000;
}
.header-inner{
    max-width: 1230px;
    margin: 0 auto;
    padding: 15px 50px;
}
.header-logo{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}