/* *{
    outline: 1px solid red;
} */

.main-content{
    max-width: 1230px;
    margin: 0 auto;
}

.content-ttl{
    font-size: 26px;
    margin-top: 50px;
    text-align: center;
}

.form-area{
    margin: 30px auto;
    text-align: center;
    width: 500px;
}

.select, .button {
    font-size: 16px;
    }

.select{
    width: 70%;
    border: solid 1px #ddd;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
    padding: 9px;
}

.button{
    width: 20%;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 6px 0;
    font-size: 14px;
    cursor: pointer;
}